/*For small screen (until 600px)*/
#container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 300px; 
    grid-template-areas: 
    "hd hd hd"
    "sd sd sd"
    "main main main"
    "ft ft ft";
    border: 3px solid black;
}
h1 {
    color: rgb(0, 0, 0);
    font-size: 20px;
}
h2 {
    font-size: 14px;
    text-align: center;
}
h3 {
    margin: 0px;
    padding-right: 70%;
    padding-top: 10px;
    height: 5px;
    font-size: 7px;
}
input {
    margin: auto;
    background-color: rgb(43, 214, 226);
    -moz-border-radius:  5px; /* Firefox */
    -webkit-border-radius:  5px; /* Safari 4 */
    border-radius:  5px; /* IE 9, Safari 5, Chrome */
}
p {
    text-align: center;
    font-size: 10px;
}
span {
    text-decoration: underline;
}
.box {
    border: 1.5px solid black;
    background-color: rgb(0, 225, 255);
}
#header {
    grid-area: hd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    background-image: url("../img/imgfortitle.jpg");
    background-size: cover;
}
#sidebar {
    grid-area: sd;
    text-align: center;
}
#content {
    grid-area: main;
    display:flex;
    flex-direction: column;
    align-items: auto;
    justify-content: space-around;
    font-size: auto;
    flex-wrap: wrap;
}
#footer {
    grid-area: ft;
    padding-left: 4px;
    font-size: 10px;
}
.post { 
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border: 1.5px solid black;
    padding: auto;
    margin: auto;
    background: rgb(255, 187, 0);
    width: 100%;
    height: 130px;
    box-shadow: 0 -120px 100px -120px crimson inset;
    animation: background 3s infinite alternate;
}
.ref {
    padding-left: 70%;
    font-size: 7px;
}