h1 {color: rgb(0, 0, 0);}
h2 {
}
h3 {
}
#container { /*settings for grid*/
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 250px 600px; 
    grid-template-areas: 
    "hd"
    "sd"
    "main"
    "ft";
    border: 3px solid black;
}
.box {
    border: 3px solid black;
    background-color: rgb(0, 225, 255);
}
#header {
    grid-area: hd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    background-image: url("imgfortitle.jpg");
    background-size: cover;
}
#sidebar {
    grid-area: sd;
}
#content {
    grid-area: main;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "post post";
}
#footer {
    grid-area: ft;
}
.post {
    width: 500px;
    height: 150px;
}
.post { 
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: flex-end;
    border: 3px solid black;
    padding: auto;
    margin: auto;
    background: rgb(255, 187, 0);
}
@media (min-width: 600px) and (max-width: 900px) {
#container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 150px 500px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "main main main main main main sd sd"
    "ft ft ft ft ft ft ft ft";
    border: 3px solid black;
}
}
@media (min-width: 901px) {
    #container {
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 150px 600px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "main main main main main main sd sd"
        "ft ft ft ft ft ft ft ft";
        border: 3px solid black;
    }
}
